doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes")

    link(rel="icon" href="http://matchboxbrasil.com/wp-content/uploads/2017/06/cropped-favicon_matchbox-32x32.png" sizes="32x32")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
